@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div>
            <partial name="_Carousel" />
        </div>
    </div>

    <h2>Products On Sale</h2>

    <div class="row">
        @foreach (var product in Model.productsOnSale)
        {
            <partial name="_ProductCard" model="product" />
        }
    </div>
</div>
